{
  "dark": {
    "mPrimary": "#{{base0D-hex}}",
    "mOnPrimary": "#{{base07-hex}}",
    "mSecondary": "#{{base0C-hex}}",
    "mOnSecondary": "#{{base07-hex}}",
    "mTertiary": "#{{base0A-hex}}",
    "mOnTertiary": "#{{base07-hex}}",
    "mError": "#{{base08-hex}}",
    "mOnError": "#{{base00-hex}}",
    "mSurface": "#{{base00-hex}}",
    "mOnSurface": "#{{base05-hex}}",
    "mSurfaceVariant": "#{{base01-hex}}",
    "mOnSurfaceVariant": "#{{base04-hex}}",
    "mOutline": "#{{base02-hex}}",
    "mShadow": "#{{base00-hex}}",
    "mHover": "#{{base02-hex}}",
    "mOnHover": "#{{base09-hex}}",
    "terminal": {
      "foreground": "#{{base05-hex}}",
      "background": "#{{base00-hex}}",
      "normal": {
        "black": "#{{base00-hex}}",
        "red": "#{{base08-hex}}",
        "green": "#{{base0B-hex}}",
        "yellow": "#{{base0A-hex}}",
        "blue": "#{{base0D-hex}}",
        "magenta": "#{{base0E-hex}}",
        "cyan": "#{{base0C-hex}}",
        "white": "#{{base05-hex}}"
      },
      "bright": {
        "black": "#{{base03-hex}}",
        "red": "#{{base08-hex}}",
        "green": "#{{base0B-hex}}",
        "yellow": "#{{base0A-hex}}",
        "blue": "#{{base0D-hex}}",
        "magenta": "#{{base0E-hex}}",
        "cyan": "#{{base0C-hex}}",
        "white": "#{{base05-hex}}"
      },
      "cursor": "#{{base05-hex}}",
      "cursorText": "#{{base00-hex}}",
      "selectionFg": "#{{base02-hex}}",
      "selectionBg": "#{{base05-hex}}"
    }
  },
  "light": {
"mPrimary": "#{{base0D-hex}}",
    "mOnPrimary": "#{{base00-hex}}",
    "mSecondary": "#{{base0C-hex}}",
    "mOnSecondary": "#{{base00-hex}}",
    "mTertiary": "#{{base0A-hex}}",
    "mOnTertiary": "#{{base00-hex}}",
    "mError": "#{{base08-hex}}",
    "mOnError": "#{{base00-hex}}",
    "mSurface": "#{{base00-hex}}",
    "mOnSurface": "#{{base05-hex}}",
    "mSurfaceVariant": "#{{base01-hex}}",
    "mOnSurfaceVariant": "#{{base04-hex}}",
    "mOutline": "#{{base02-hex}}",
    "mShadow": "#{{base00-hex}}",
    "mHover": "#{{base02-hex}}",
    "mOnHover": "#{{base09-hex}}",
    "terminal": {
      "foreground": "#{{base05-hex}}",
      "background": "#{{base00-hex}}",
      "normal": {
        "black": "#{{base00-hex}}",
        "red": "#{{base08-hex}}",
        "green": "#{{base0B-hex}}",
        "yellow": "#{{base0A-hex}}",
        "blue": "#{{base0D-hex}}",
        "magenta": "#{{base0E-hex}}",
        "cyan": "#{{base0C-hex}}",
        "white": "#{{base05-hex}}"
      },
      "bright": {
        "black": "#{{base03-hex}}",
        "red": "#{{base08-hex}}",
        "green": "#{{base0B-hex}}",
        "yellow": "#{{base0A-hex}}",
        "blue": "#{{base0D-hex}}",
        "magenta": "#{{base0E-hex}}",
        "cyan": "#{{base0C-hex}}",
        "white": "#{{base05-hex}}"
      },
      "cursor": "#{{base05-hex}}",
      "cursorText": "#{{base00-hex}}",
      "selectionFg": "#{{base02-hex}}",
      "selectionBg": "#{{base05-hex}}"
    }

  }
}
